<nav class="posts-nav">
  <ul class="tabs">
    @for (tab of tabs; track tab.icon) {
    <li
      class="tab"
      [class.active]="tab === selectedTab"
      (click)="selectTab(tab)"
    >
      <img [src]="tab.icon" alt="icon" class="icon" />
      @if (tab === selectedTab) {
      <div class="underline"></div>
      }
    </li>
    }
  </ul>
</nav>

<main class="grid-display">
  @if (selectedTab) { @for (post of selectedTab.posts; track post.id) {
  <div class="video-card">
    @if (post.type === 'video') {
    <video [src]="post.src" autoplay [muted]="true" playsinline loop></video>
    } @else if (post.type === 'image') {
    <img [src]="post.src" alt="post" />
    }

    <div class="likes">
      <img src="/icons/hearth.svg" alt="likes" />
      <span>{{ post.likes }}</span>
    </div>
  </div>
  } }
</main>
