<nav class="posts-nav">
  <ul class="tabs">
    <li
      *ngFor="let tab of tabs"
      class="tab"
      [class.active]="tab === selectedTab"
      (click)="selectTab(tab)"
    >
      <img [src]="tab.icon" alt="icon" class="icon" />
      <div *ngIf="tab === selectedTab" class="underline"></div>
    </li>
  </ul>
</nav>

<main class="grid-display">
  <div class="video-card" *ngFor="let post of selectedTab.posts">
    <video
      *ngIf="post.type === 'video'"
      [src]="post.src"
      muted
      autoplay
      loop
      playsinline
    ></video>

    <img *ngIf="post.type === 'image'" [src]="post.src" alt="post" />

    <div class="likes">
      <img src="/icons/hearth.svg" alt="likes" />
      <span>{{ post.likes }}</span>
    </div>
  </div>
</main>
