/* 🔹 Contenedor principal dentro de .tiktok-videos */
.img-group-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 0 10px;
}

/* 🔹 Contenedor de las imágenes (fila horizontal) */
.img-group {
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
}

/* 🔹 Contenedor individual de cada imagen */
.img-container {
  flex: 0 0 auto;
  aspect-ratio: 9 / 16;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  scroll-snap-align: center;
  background: #000;
}

/* imagen interna */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* 🔹 Barra de progreso dentro del bloque */
.progress {
  position: absolute;
  bottom: 8px;
  left: 5%;
  right: 5%;
  height: 4px;
  background: #9911ff;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
}
