<section class="profile-container">
  <section class="profile-header">
    <div class="user-data">
      <div class="stat">
        <p class="stat-value">{{ user()?.rating || 5 }}/5</p>
        <p class="stat-label">Calificación</p>
      </div>

      <div class="user-center">
        <div class="avatar"></div>
        <p class="username">@ {{ user()?.nickname }}</p>
      </div>

      <div class="stat">
        <p class="stat-value">{{ user()?.followers?.length || 0 }}</p>
        <p class="stat-label">Seguidores</p>
      </div>
    </div>

    <div class="user-description">
      <p class="user-name">{{ user()?.name }}</p>
      <p class="user-bio">
        {{ user()?.description || "Sin descripción disponible" }}
      </p>
    </div>
    <section class="user-info">
      <div class="info" *ngFor="let info of infos">
        {{ info }}
      </div>
    </section>
    <section class="user-tags">
      <div class="tag" *ngFor="let tag of tags">
        {{ tag }}
      </div>
    </section>
  </section>
  <section class="profile-posts">
    <app-user-posts [tabs]="partnerTabs"></app-user-posts>
  </section>
  <section class="profile-navbar">
    <app-navbar [activeTabName]="'Profile'"></app-navbar>
  </section>
</section>
