html,
body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snap {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
}

.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 35%;
  background: #ffffff;
}

.hero-title {
  width: 95%;
  height: 120px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.09em;
  color: #000000;
  margin-top: 15%;
}

.hero-subtitle {
  width: 80%;
  height: 130px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.89;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.07em;
  color: #000000;
  margin: 0;
}

.tiktok-videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  height: 55%;
  overflow-x: scroll;
}

.video-card {
  max-width: 140px;
  background: #d9d9d9;
  border-radius: 5px;
  flex: none;
  aspect-ratio: 9 / 16;
}

.video-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  display: block;
}

.text-red {
  color: #e63946;
}

.section-foodies {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
}

.frame-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 25px;
  width: 90%;
  max-width: 390px;
  border-radius: 2px;
}

.foodies-title {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;

  color: #ff0000;
  margin: 0;
}

.foodies-subtitle {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.05em;
  color: #000;
  margin: 0;
  width: 90%;
  max-width: 338px;
}

.foodies-description {
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #000;
  width: 90%;
  max-width: 338px;
}

.section-3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;

  margin: 10% 10% 0 10%;
}
// ___________________________________

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 80px;
  height: 120px;
  background: #d9d9d9;
  border-radius: 2px;
}

.cta-button {
  font-family: "Baloo 2", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff0015;
  border: none;
  border-radius: 12px;
  padding: 14px 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(230, 57, 70, 0.4);
}

.cta-button:hover {
  background-color: #ff4b5c;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(230, 57, 70, 0.6);
}

.cta-button:active {
  transform: scale(0.97);
  background-color: #d62839;
}

.snap-footer {
  scroll-snap-align: start;
  height: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 15px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 253px;
  padding: 15px 20px;

  background: #ff0000;
  box-shadow: inset 4px 4px 20.4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #fff;
  font-family: "Baloo 2", sans-serif;
  text-align: center;
}

.footer-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.05em;
  margin: 5px 0;
}

.footer-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.05em;
  margin: 5px 0 10px;
  width: 350px;
}

.footer-contact {
  font-size: 12px;
  line-height: 100%;
  margin-bottom: 10px;
}

.footer-rights {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.05em;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px 0;
}

.icon {
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0) invert(1); /* Blanco por defecto */
  transition: transform 0.2s ease, filter 0.3s ease;
}

.icon:hover img {
  transform: scale(1.1);
  filter: brightness(0) invert(0); /* Cambia a negro */
}

.gallery .row {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.gallery .card {
  flex: 1;
  min-width: 80px;
  max-width: 150px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
  background: #d9d9d9;
  position: relative;
}

.gallery .card img,
.gallery .card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
