// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

// html {
//   @include mat.theme(
//     (
//       color: (
//         primary: mat.$rose-palette,
//         tertiary: mat.$red-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap");

body {
  font-family: "Baloo 2", sans-serif;
}

.text-title {
  font-family: "Baloo 2", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 51px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ff0000;
}
.text-label {
  width: 100%;
  border: none;
  background: transparent;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.09em;
  outline: none;
  padding-left: 1vh;
}

.text-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  letter-spacing: -0.05em;
}

.btn-primary {
  width: 60%;
  height: 40px;
  margin: 2%;
  background: #ff0000;
  border-radius: 10px;
  color: #fff;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.07em;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn-primary:hover {
  background: #e60000;
}

.btn-secondary {
  width: 60%;
  height: 40px;
  margin: 2%;
  border: 2px solid #ff0000;
  border-radius: 10px;
  background: transparent;
  color: #000;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.07em;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-secondary:hover {
  background: #ff0000;
  color: #fff;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
